<div class="hero-section">
  <div class="hero-content">
    <h1>Impulsamos el crecimiento de tu <span class="highlight">Microempresa</span></h1>
    <p>Somos la financiera peruana que camina junto al microempresario. Obtén el capital que necesitas o rentabiliza tus ahorros con el respaldo de la SBS.</p>
    
    <div class="hero-actions">
      <button class="btn-primary" routerLink="/simulador">Simula tu crédito</button>
      <button class="btn-secondary" routerLink="/productos">Infórmate aquí</button>
    </div>
  </div>
  
  <div class="hero-badge">
    <div class="badge-card">
      <h3>Campaña Activa</h3>
      <p>¡Crédito al Toque para Emprendedores!</p>
    </div>
  </div>
</div>